<div class="container-fluid">
  <h2>Stock Rebalancer</h2>
  <div class="form-group">
    <input class="form-control" placeholder="Total Capital" [(ngModel)]="totalCapital">
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="Buying power" [(ngModel)]="buyingPower">
  </div>
  <div class="label" style="display: flex;">
    <h4>Stock Name</h4>
    <h4 style="padding-left: 23.5%;">Current Total Market Value</h4>
    <h4 style="padding-left: 13%;">Percentage in Portfolio</h4>
  </div>
  <form [formGroup]="stockForm" autocomplete="on">
      <div class="form-group" *ngFor="let stock of stocks; let i = index">
        <div [formGroup]="stock">
          <div class="form-row">
            <div class="col">
              <input formControlName="stockName" class="form-control" placeholder="stock name">
            </div>
            <div class="col">
              <input formControlName="currentTotal" class="form-control" placeholder="current total($)">
            </div>
            <div class="col">
              <input formControlName="stockPercentage" class="form-control" placeholder="target percantage(%)">
            </div>
            <button class="btn btn-light" type="button" title="remove Stock" (click)="onRemoveStock(i)">X</button>
          </div>
        </div>
      </div>
  </form>
  <button class="btn btn-primary" type="button" title="Add Stock" (click)="addStock()">Add Stock</button>
  <button class="btn btn-primary" type="button" title="Rebalance" (click)="onRebalance()" style="margin-left: 5px;">Rebalance</button>
</div>

<div class="result">
  <table>
    <tr>
      <th scope="col">Stock Name</th>
      <th scope="col">Current Total</th>
      <th scope="col">Target Percentage</th>
      <th scope="col">Stock Price</th>
      <th scope="col">Current Percentage</th>
      <th scope="col">Difference</th>
      <th scope="col">Result Percentage</th>
      <th scope="col">Number of Shares to Buy</th>
      <th scope="col">Total Capital Result</th>
    </tr>
    <tr *ngFor="let stock of results">
        <td>{{ stock.stockName | uppercase }}</td>
        <td>{{ stock.currentTotal | number: '1.2-2' }}</td>
        <td>{{ stock.targetPercentage | number: '1.2-2' }}</td>
        <td>{{ stock.stockPrice | number: '1.2-2' }}</td>
        <td>{{ stock.currPercentage | number: '1.2-2' }}</td>
        <td>{{ stock.diff | number: '1.2-2' }}</td>
        <td>{{ stock.resultPercentage | number: '1.2-2' }}</td>
        <td>{{ stock.numToBuy | number: '1.2-2' }}</td>
        <td>{{ stock.resultTotal | number: '1.2-2' }}</td>
    </tr>
    <tr>
      <th scope="row">Remaining Buying Power</th>
      <td colspan="8">{{ remainBP | number: '1.2-2' }}</td>
    </tr>
  </table>
</div>